@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: #191b1c;
  background-color: #121223;
  /* background-color: #191b1c; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: 1px solid red;
  padding: 10px;
  text-align: center;
}
